html {
  height: 100%;
  box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0;
  padding: 1% 4% 0% 4%;
  font-family: 'Roboto', sans-serif;
  background-color: #C8ECEB;
  position:relative;
}

nav {
  background-color: #DDECC8;
  width: 32%; /* fallback for older browsers */
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

article {
  background-color: #EBC8EC;
  width: 32%;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

aside {
  background-color: #C8D0EC;
  width: 32%;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
}

input {
  max-width: 40px;
}

/*section {
  background-color: #ECE8C8;
}
*/
footer {
  background-color: #ECD8C8;
  vertical-align: bottom;
  left: 0 ; right: 0; bottom: 0;
}

ul {
  list-style-type: none;
  padding-right: 10px;
  -webkit-padding-start: 10px;
}

.primary-btn-start {
  background-color: #C8ECC9;
}


.avatar {
  max-height: 80px;
}

.column-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.column {
    display: table-cell; /* Make elements inside the container behave like table cells */
}